<section class="edit_menu">
    <form action="/restaurants/edit/{{restaurant.id}}" method="POST">
    <div contenteditable="true" class="edit_title">
        <p class="menu_item">{{restaurant.name}}</p>
    </div>
    {{#each menus}}
        {{!-- <article class="menu_container"> --}}
            <div class='individual_menu'>
    <label for="menu_title">Menu Title</label>
    <input type="text" name="menu_title" value="{{this.title}}"> <br>
        {{#each this.items}}
        <p contenteditable="true" class="menu_item">{{this.name}}</p>
        <p contenteditable="true" class="item_price">{{this.price}}</p>
        <br>
        {{/each}}
            </div>
    {{/each}}
    <button class="edit_submit button button_primary">Submit</button>
    </form>
</section>
<script>

</script>

<!--
            <label for="name">Restaurant Name</label>
        <input type="text" name="name" value="{{restaurant.name}}">
            <label for="item_name">Item Name</label>
        <input type="text" name="item_name" value="{{this.name}}">
        <label for="price">Item Price</label>
        <input type="number" name="price" value="{{this.price}}"> <br>
    -->