<!DOCTYPE html>
<section class="restaurants">
	{{#each restaurants}}
	<div class="card">
  		<img class="restaurant-img" alt="{{this.name}} restaurant" src={{this.image}} style="width:250px">
  		<div class="container">
   			<h4><a href="/restaurants/{{this.id}}">{{this.name}}</a> </h4>
			<div class="menus">
			{{#each menus}}
				<h3>{{this.title}}</h3>
                {{#each menuItem}}
                <p>
                    {{this.name}}
                </p>
                <p>{{this.price}}</p>
                {{/each}}
			{{/each}}
			</div>
  		</div>
	</div>
	{{/each}}
</section>